@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Lato:wght@400;700;900&family=Lobster&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Lato", "Open Sans", sans-serif;
    font-weight: 400;
}
header {
    background-color: cadetblue;
    text-align: center;
    padding: 10px 0;
}
h1, h2 {
    font-family: "Lobster", cursive;
    font-weight: 700;
    padding: 10px 20px;
}
main {
    background-color: blanchedalmond;
    text-align: center;
    min-height: 300px;
}
footer {
    background-color: cadetblue;
    color: white;
    text-align: center;
    padding: 10px 0;
}
footer p {
    padding: 10px 0;
}
footer a {
    color: wheat;
    text-decoration: none;
}